html{
	height: 100%;
}
body{
	height: 100%;
	background: rgb(26, 28, 28);
}

#outerdiv {
	
	background: rgb(81, 150, 198);
	height:40%;
}
#innerdiv {
	margin: auto;
	padding-top: 2.5%;
	padding-bottom: 2.5%;

	font-family: "Niramit";

	color: white;
	text-align: center;	
	line-height: 0rem;	
	letter-spacing: 0.125rem;
}

.remheader{
	font-size: 2.5rem;
	text-transform: uppercase;
}

#data {
	font-size: 5rem;
	text-transform: uppercase;
}

#bar {

	height: 5%;
	width: 100%;
	
	font-family: "Niramit";
	font-weight: bold;
	text-transform: uppercase;

	color: rgb(81, 150, 198);
	
	font-size: 1.25rem;
	letter-spacing: 0.1rem;
}

#bar table{

	background: white;
	margin: auto;
	width: 100%;
}

#bar td{
	text-align: center;
	width: 33%;
}

#bar td span{
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

#bar #center {
	color: black;
	text-transform: capitalize;
}

#bottom {
	padding-top: 10px;
	height: 55%;
	width: 100%;
	text-align: center;
}

#bottom table{

	height: 100%;
	width: 50%;
	margin: auto;
}

#bottom table tr{
	height: 50%;
	width: 100%;
}

#bottom table td{
	background: pink;

	width: 33%;
	text-align: center;

	border: 5px rgb(26, 28, 28) solid;
	border-radius: 25px;

	transition: background 0.4s;
	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
}

.cc{
	background: rgb(81, 150, 198);
	border: 3px solid rgb(81, 150, 198);
	border-radius: 0px 0px 10px 10px;
	color: white;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
}